@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
    --main-color: #ffc615;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
    padding: 0;
    margin: 0;
}

.header {
    background-color: var(--main-color);
    font-size: 35px;
    height: 50px;
    padding-top: 8px;
    padding-left: 60px;
    margin-bottom: 50px;
}

.main-window-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.task-manager {
    height: 40px;
    width: 70%;
    margin: auto;
    background-color: var(--main-color);
}

.task-manager > p {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 40px;
}

.controls-btns {
    margin: 0 10px 0 0;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    transition: background-color 0.4s;
}

.controls-btns:hover {
    background-color: #ffc615;
    cursor: pointer;
}

.controls-search {
    margin: 0;
    float: right;
}

.controls-search > input {
    height: 28px;
    padding: 0;
    margin: 0;
    border: none;
}

.task-list {
    clear: both;
    min-height: 200px;
    max-height: 350px;
    border: 1px solid black;
}

.task-list > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.task-item {
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
    transition: background-color 0.4s;
}

.task-item:hover {
    background-color: #ffc615;
    cursor: pointer;
}

.task-item-selected {
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
    background-color: #ffc615;
    cursor: pointer;
}

/* ----------------------------- RIGHT SIDE ---------------------*/

.task-details {
    height: 40px;
    width: 70%;
    margin: auto;
    background-color: var(--main-color);
}

.task-details > p {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 40px;
}

.details-btns {
    margin: 0 0 0 10px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: right;
    transition: background-color 0.4s;
}

.details-btns:hover {
    background-color: #ffc615;
    cursor: pointer;
}

.details-content {
    clear: both;
    height: 350px;
    border: 1px solid black;
}

.item-content {
    margin: 0;
    padding: 0;
}

/*--------------------------    MODAL WINDOW    ----------------------*/

.modal {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalRev {
    display: block;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.new-task {
    position: absolute;
    top: 20%;
    left: 25%;
    background-color: #fff;
    width: 50%;
    height: 360px;
}

.new-task > p {
    margin: 0;
    background-color: #ffc615;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.new-task-header {
    padding: 15px;
}

.new-task-header > form > input {
    height: 25px;
    border: 1px solid #ffc615;
}

.new-task-content {
    padding: 15px;
    margin: 0;
}

textarea {
    resize: none;
    border: 1px solid #ffc615;
    margin: 0;
    padding: 0;
    content: none;
}

.new-task-controls {
    margin: 0;
    padding-left: 20px;
}

.new-task-btns {
    margin: 0;
    padding: 0;
    min-width: 150px;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 50px;
    text-align: center;
    transition: background-color 0.4s;
}

.new-task-btns:hover {
    background-color: #ffc615;
    cursor: pointer;
}

/*--------------------------    EDIT WINDOW    ----------------------*/

.edit {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.editRev {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.edit-window {
    position: absolute;
    width: 40%;
    height: 400px;
    margin: 0;
    top: 20%;
    left: 30%;
    padding: 0;
    background-color: #fff;
}

.edit-window > p {
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--main-color);
}

.edit-task-text {
    position: absolute;
    left: 5%;
    top: 15%;
    margin: auto;
    width: 90%;
    height: 280px;
}

.edit-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 55px;
    width: 100%;
}

.edit-btns {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 12px;
    line-height: 30px;
    transition: background-color 0.4s;
}

.edit-btns:hover {
    background-color: #ffc615;
    cursor: pointer;
}

.edit-btns-inactive {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 12px;
    line-height: 30px;
    visibility: hidden;
}